.idea
cmake-build-debug
eigen
*/*weights.cpp
gem5-X-TiCSAT/build
gem5-X-TiCSAT/parser.out
gem5-X-TiCSAT/parsetab.py
gem5-X-TiCSAT/cscope.files
gem5-X-TiCSAT/cscope.out
gem5-X-TiCSAT/*.pyc
gem5-X-TiCSAT/*~
gem5-X-TiCSAT/.*.swp
gem5-X-TiCSAT/.*.swo
gem5-X-TiCSAT/m5out
gem5-X-TiCSAT/src/doxygen
gem5-X-TiCSAT/ext/dramsim2/DRAMSim2
gem5-X-TiCSAT/ext/mcpat/regression/*/*.out
gem5-X-TiCSAT/util/m5/*.o
gem5-X-TiCSAT/util/m5/*.a
gem5-X-TiCSAT/util/m5/m5
gem5-X-TiCSAT/util/packet_pb2.py
gem5-X-TiCSAT/util/tap/*.d
gem5-X-TiCSAT/util/tap/*.o
gem5-X-TiCSAT/util/tap/m5tap
gem5-X-TiCSAT/util/term/m5term
gem5-X-TiCSAT/system/arm/dt/*.dtb
gem5-X-TiCSAT/system/arm/simple_bootloader/*.o
gem5-X-TiCSAT/system/arm/simple_bootloader/boot.arm
gem5-X-TiCSAT/system/arm/simple_bootloader/boot_emm.arm
gem5-X-TiCSAT/system/arm/aarch64_bootloader/boot_emm.arm64
data*
taskflow
gem5.pem

