.idea
cmake-build-debug
cmake-build-release
eigen
*/*weights.cpp
gem5-X-TiC-SAT/build
gem5-X-TiC-SAT/parser.out
gem5-X-TiC-SAT/parsetab.py
gem5-X-TiC-SAT/cscope.files
gem5-X-TiC-SAT/cscope.out
gem5-X-TiC-SAT/*~
gem5-X-TiC-SAT/.*.swp
gem5-X-TiC-SAT/.*.swo
gem5-X-TiC-SAT/m5out
gem5-X-TiC-SAT/src/doxygen
gem5-X-TiC-SAT/ext/dramsim2/DRAMSim2
gem5-X-TiC-SAT/ext/mcpat/regression/*/*.out
gem5-X-TiC-SAT/util/m5/*.o
gem5-X-TiC-SAT/util/m5/*.a
gem5-X-TiC-SAT/util/m5/m5
gem5-X-TiC-SAT/util/packet_pb2.py
gem5-X-TiC-SAT/util/tap/*.d
gem5-X-TiC-SAT/util/tap/*.o
gem5-X-TiC-SAT/util/tap/m5tap
gem5-X-TiC-SAT/util/term/m5term
gem5-X-TiC-SAT/system/arm/dt/*.dtb
gem5-X-TiC-SAT/system/arm/simple_bootloader/*.o
gem5-X-TiC-SAT/system/arm/simple_bootloader/boot.arm
gem5-X-TiC-SAT/system/arm/simple_bootloader/boot_emm.arm
gem5-X-TiC-SAT/system/arm/aarch64_bootloader/boot_emm.arm64
gem5-X-TiC-SAT/output/*
gem5-X-TiC-SAT/full_system_images/
gem5-X-TiC-SAT/**/*.pyc
gem5-X-TiC-SAT/a.out
sim-shared/data
sim-shared/flags_generated.h
sim-shared/*.exe
data*
taskflow
gem5.pem
obj
.vscode
models/librispeech
models/libritrans
models/librispeech_model_params_sparsity_bitmap.json
models/libritrans_model_params_sparsity_bitmap.json
build
.bash_history
logs
__pycache__
